@tailwind base;
@tailwind components;
@tailwind utilities;

.usercard .repoparent:nth-child(odd) .circle {
    fill: #ffeb3b;
}

.usercard .repoparent:nth-child(odd) .name {
    color: #ec407a;
}

.usercard .repoparent:nth-child(odd) .stars {
    color: #ec407a;
}

.usercard .repoparent:nth-child(odd) a {
    color: #ffeb3b;
}

.usercard .repoparent:nth-child(even) .circle {
    fill: #ec407a;
}

.usercard .repoparent:nth-child(even) a {
    color: #ec407a;
}

.usercard .repoparent:nth-child(even) .name {
    color: #35fd74;
}

.usercard .repoparent:nth-child(even) .stars {
    color: #35fd74;
}

.usercard .repoparent:nth-child(odd) .g {
    fill: #ec407a;
}

.usercard .repoparent:nth-child(even) .g {
    fill: #35fd74;
}

.usercard .repoparent:nth-child(3n + 3) .circle {
    fill: #00c853;
}

.usercard .repoparent:nth-child(3n + 3) a {
    color: #00c853;
}

.usercard .repoparent:nth-child(3n + 3) .name {
    color: #ffeb3b;
}

.usercard .repoparent:nth-child(3n + 3) .stars {
    color: #ffeb3b;
}

.usercard .repoparent:nth-child(3n + 3) .g {
    fill: #ffeb3b;
}

.card-holder {
    animation: appear ease-in-out 2s 1 forwards;
    -webkit-animation: appear ease-in-out 2s 1 forwards;
    opacity: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

@keyframes appear {
    from {
        opacity: 0;
        filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    to {
        opacity: 1;
        filter: none;
        -webkit-filter: none;
    }
}

.image::before {
    content: '';
    height: 100%;
    width: 300%;
    background-color: #ec407a;
    position: absolute;
    bottom: -70%;
    animation: pendulum 5s linear infinite alternate;
    -webkit-animation: pendulum 5s linear infinite alternate;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}

@media (prefers-reduced-motion: no-preference) {
    @keyframes pendulum {
        to {
            transform: rotate(200deg);
            -webkit-transform: rotate(200deg);
            -moz-transform: rotate(200deg);
            -ms-transform: rotate(200deg);
            -o-transform: rotate(200deg);
        }

    }


    .repoparent {
        perspective: 700px;
    }

    .repobox {
        animation: slide 1s linear forwards;
        -webkit-animation: slide 1s linear forwards;
        opacity: 0;
        animation-timeline: view();
        animation-range-start: 0%;
        animation-range-end: 100%;
        transform: rotateX(80deg);
        -webkit-transform: rotateX(80deg);
        -moz-transform: rotateX(80deg);
        -ms-transform: rotateX(80deg);
        -o-transform: rotateX(80deg);
}

    @keyframes slide {
        60% {
            opacity: 1;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }


        to {
            transform: rotateX(-90deg);
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            -ms-transform: rotateX(-90deg);
            -o-transform: rotateX(-90deg);
            opacity: 1;
}

    }

}