@tailwind base;
@tailwind components;
@tailwind utilities;

.usercard .repobox:nth-child(odd) .circle {
    fill: #ffeb3b;
}

.usercard .repobox:nth-child(odd) .name {
    color: #ec407a;
}

.usercard .repobox:nth-child(even) .circle {
    fill: #ec407a;
}

.usercard .repobox:nth-child(even) .name {
    color: #35fd74;
}

.usercard .repobox:nth-child(odd) .g {
    fill: #ec407a;
}

.usercard .repobox:nth-child(even) .g {
    fill: #35fd74;
}

.usercard .repobox:nth-child(3n + 3) .circle {
    fill: #00c853;
}

.usercard .repobox:nth-child(3n + 3) .name {
    color: #ffeb3b;
}

.usercard .repobox:nth-child(3n + 3) .g {
    fill: #ffeb3b;
}